<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav pad-top-64px" #sidenav mode="over" [(opened)]="sidenavService.opened">
    <mat-nav-list>
      <a class="menu-list-item" mat-list-item>Home</a>
      <mat-divider></mat-divider>
      <a class="menu-list-item" mat-list-item>About Me</a>
      <mat-divider></mat-divider>
      <a class="menu-list-item" mat-list-item>Education</a>
      <mat-divider></mat-divider>
      <a class="menu-list-item" mat-list-item>Experience</a>
      <mat-divider></mat-divider>
      <a class="menu-list-item" mat-list-item>Skills</a>
      <mat-divider></mat-divider>
      <a class="menu-list-item" mat-list-item>Projects</a>
      <mat-divider></mat-divider>
      <a class="menu-list-item" mat-list-item>Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>