<div class="container" (wheel)="scrollHandler($event)" (panup)="panup($event)" (pandown)="pandown($event)">
    <div class="home-div">
        <div class="home-header-div">
            <h1 class="home-header">Welcome</h1>
            <p class="home-text">to my website</p>
        </div>
        <img mat-card-image class="home-image" src="assets/img/Idriece.jpg">
    </div>
    <div [@scrollTrigger]="state" (@scrollTrigger.done)="toggleScroll()" class="scroll-down-div" *ngIf="!isScrolling">
        <p class="padding-0 margin-0"></p>scroll down
        <i class="material-icons">arrow_downward</i>
    </div>
    <app-menu-list id="menuList" #menuList class="menu-list" [ngStyle]="{'top.vh': topY, 'bottom.vh': positionY}"></app-menu-list>
</div>